<div class="container" id="root-container">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
      <p class="lead text-muted">Navega por la mazmorra. Evite los hoyos. Encuentra el oro. ¡Cuidado con los Wumpus!</p>
    </div>
  </div>

  <div class="row">
    <!-- Contenedor del mapa  -->
    <div class="col">
      <div id="root">

        <div class="grid-container">
          <div class="grid-item text-center p-1" *ngFor="let column of map; let counter=index">
            <div class="grid-item text-center p-1" *ngFor="let row of column">

              <i class="fa-2xs" *ngIf="row['pit']['exist'] && !showIcons"></i>
              <i class="{{ row.icon.pit }} fa-2xs" *ngIf="row['pit']['exist'] && showIcons"></i>

              <i class="fa-2xs" *ngIf="row['breeze'] && !showIcons"></i>
              <i class="{{ row.icon.breeze }} fa-2xs" *ngIf="row['breeze'] && showIcons"></i>

              <i class="fa-2xs" *ngIf="row['stench'] && !showIcons"></i>
              <i class="{{ row.icon.stench }} fa-2xs" *ngIf="row['stench'] && showIcons"></i>

              <i class="fa-2xs" *ngIf="row['arrow'] && !showIcons"></i>
              <i class="{{ row.icon.arrow }} fa-2xs" *ngIf="row['arrow'] && showIcons"></i>

              <i class="fa-2xs" *ngIf="row['exit']"></i>

              <i class="fa-2xs" *ngIf="row.wumpus && !showIcons"></i>
              <img class="fa-2xs" *ngIf="row.wumpus && showIcons" src="assets/wumpus.png" height="62">

              <i *ngIf="row['gold'] && !showIcons" class="fa-2xs"></i>
              <i *ngIf="row['gold'] && showIcons" class="{{row.icon.gold}} fa-2xs"></i>

              <img class="fa-2xs" [ngClass]="{'hunter': row.hunter, 'move-donw':
              pressDown}" *ngIf="row.hunter && !pressDown && !pressUp && !pressLeft && !pressRight"
                   src="assets/hunter.png" height="57">
              <img class="fa-2xs" [ngClass]="{'hunter': row.hunter, 'move-donw': pressDown}"
                   *ngIf="row.hunter && pressDown" src="assets/hunter.png" height="57">
              <img class="fa-2xs" [ngClass]="{'hunter': row.hunter, 'move-up': pressUp}" *ngIf="row.hunter && pressUp"
                   src="assets/hunter.png" height="57">
              <img class="fa-2xs" [ngClass]="{'hunter': row.hunter, 'move-left': pressLeft}"
                   *ngIf="row.hunter && pressLeft" src="assets/hunter.png" height="57">
              <img class="fa-2xs" [ngClass]="{'hunter': row.hunter, 'move-right': pressRight}"
                   *ngIf="row.hunter && pressRight" src="assets/hunter.png" height="57">

            </div>
          </div>
        </div>
        <!--
        <div class="grid-container">

          <div class="grid-item text-center p-1" *ngFor="let item of mapGlobal">
            <div>

              <i class="fa-2xs" *ngIf="item.arrow"></i>
              <i class="fa-2xs" *ngIf="item.breeze"></i>
              <i class="fa-2xs" *ngIf="item.gold"></i>
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-donw':
              pressDown}" *ngIf="item.hunter && !pressDown && !pressUp && !pressLeft && !pressRight" src="assets/hunter.png">
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-donw': pressDown}" *ngIf="item.hunter && pressDown" src="assets/hunter.png">
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-up': pressUp}" *ngIf="item.hunter && pressUp" src="assets/hunter.png">
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-left': pressLeft}" *ngIf="item.hunter && pressLeft" src="assets/hunter.png">
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-right': pressRight}" *ngIf="item.hunter && pressRight" src="assets/hunter.png">
              <i class="fa-2xs" *ngIf="item.pit.exist"></i>
              <i class="fa-2xs" *ngIf="item.stench" style="border: red;"></i>
              <i class="fa-2xs" *ngIf="item.wumpus" src="assets/wumpus.png"></i>

              <i class="{{ item.icon.arrow }} fa-2xs" *ngIf="item.arrow"></i>
              <i class="{{ item.icon.breeze }} fa-2xs" *ngIf="item.breeze"></i>
              <i class="{{ item.icon.gold }} fa-2xs" *ngIf="item.gold"></i>
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-donw':
              pressDown}" *ngIf="item.hunter && !pressDown && !pressUp && !pressLeft && !pressRight"
                   src="assets/hunter.png">
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-donw': pressDown}"
                   *ngIf="item.hunter && pressDown" src="assets/hunter.png">
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-up': pressUp}" *ngIf="item.hunter && pressUp"
                   src="assets/hunter.png">
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-left': pressLeft}"
                   *ngIf="item.hunter && pressLeft" src="assets/hunter.png">
              <img class="fa-2xs" [ngClass]="{'hunter': item.hunter, 'move-right': pressRight}"
                   *ngIf="item.hunter && pressRight" src="assets/hunter.png">
              <i class="{{ item.icon.pit }} fa-2xs" *ngIf="item.pit.exist"></i>
              <i class="{{ item.icon.stench }} fa-2xs" *ngIf="item.stench" style="border: red;"></i>
              <img class="fa-2xs" *ngIf="item.wumpus" src="assets/wumpus.png">

            </div>
          </div>
        </div>
        -->

      </div>
    </div>

    <div class="col-3">
      <fieldset class="instructions">
        <legend>Percepciones</legend>
        <div class="row">
          <div class="col-1 precent-icon">
            <i class="fas fa-water" [ngClass]="{'animate__heartBeat': perceptBreeze}"></i>
          </div>
          <div class="col percept">
            <p [ngClass]="{'animate__bounceIn': perceptBreeze}">Sientes una brisa, un pozo está cerca.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 precent-icon">
            <i class="fas fa-wind" [ngClass]="{'animate__heartBeat': perceptStench}"></i>
          </div>
          <div class="col percept">
            <p [ngClass]="{'animate__bounceIn': perceptStench}">Hueles un hedor, el wumpus está cerca.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-1 precent-icon">
            <i class="fa-sharp fa-solid fa-door-open" [ngClass]="{'animate__heartBeat': perceptExit}"></i>
          </div>
          <div class="col percept">
            <p [ngClass]="{'animate__bounceIn': perceptExit}">{{exitAlert}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-1 precent-icon">
            <i class="fas fa-thin fa-arrow-up-from-bracket" [ngClass]="{'animate__heartBeat': perceptArrow}"></i>
          </div>
          <div class="col percept">
            <p id="arrow" [ngClass]="{'animate__bounceIn': perceptArrow}">Flechas disponibles: {{countArrow}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-1 precent-icon">
            <i id="gold" class="fas fa-light fa-coins" [ngClass]="{'animate__heartBeat': perceptbrightness}"></i>
          </div>
          <div class="col percept">
            <p id="arrow" [ngClass]="{'animate__bounceIn': perceptbrightness}">Hay mucho brillo, el oro esta cerca</p>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="show()">Mostrar iconos</button>

      </fieldset>
    </div>
  </div>
</div>
